.peoplePlate {
    overflow: hidden;
    max-width: 180px;
    border-radius: 100px;
    min-width: 180px;
}

.peoplePlateModalWrapper {
    overflow: hidden;
    min-width: 180px;
    border-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    background-color: var(--light-dark);
    border-top-left-radius: 0;

}

.peoplePlate:hover {
    cursor: pointer;
}

.peoplePlateModalWrapper:hover {
    cursor: pointer;
}

.long-plate {
    height: 500px;
}

.short-plate {
    height: 180px;
}

.peoplePlate>div {
    width: 100%;
    height: 100%;
    background-position: 50% 100%;
    background-size: 170%;
    background-repeat: no-repeat;
}
.peoplePlateModalWrapper {
    width: 110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 22px;
}
.peoplePlateModalWrapper>.plate-media-wrapper {
    width: 100%;
    height: 100%;
    background-position: 50% 0%;
    background-size: 170%;
    background-repeat: no-repeat;
}

.plate-media-wrapper>div {
    width: 180px;
    height: 100%;
    background-position: center;
    background-size: 170%;
    background-repeat: no-repeat;
    overflow: hidden;
}

.video-wrapper{
    height: 100%;
    top: 0%;
    left: -100%;
    position: relative;
}
.plate-video{
    height: 100%;
    top: 0%;
    position: relative;
}
.plate-videoMobile{
    height: 100%;
    top: 0%;
    left: -50%;
    position: relative;
}
.video-wrapper {
    width: 100%;
    left: 0;
    position: absolute;
    z-index: 5;
}

.video-wrapperMobile {
    width: 180px;
    height: 100%;
    background-position: 50% 0%;
    background-size: 170%;
    background-repeat: no-repeat;
    overflow: hidden;
}

.plate-blue {
    background-color: var(--light-blue);
}

.plate-green {
    background-color: var(--green);
}

.plate-purple {
    background-color: var(--purple);
}

.plate-yellow {
    background-color: var(--yellow);
}