.left-content-footer-title {
    font-size: 50px;
}

.left-content-footer-text {
    font-size: 22px;
    font-weight: 400;
}

.left-content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding-top: 5dvh;
}

.left-content {
    z-index: 2;
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.left-content-footer {
    display: flex;
    justify-content: start;
    gap: 35px;
}

.dots-image {
    z-index: -1;
    top: -950px;
    left: -1000px;
    position: absolute;
    transform: scale(0.1);
}

.left-content-util {
    margin-top: 40px;
    display: flex;
    justify-content: start;
    align-items: end;
    gap: 20px;
    font-weight: 400;
}

@media screen and (min-width: 1950px) {
    .left-content-footer-title {
        font-size: 2.5vw;
    }

    .left-content-footer-text {
        font-size: 1.7vw;
    }

    .left-content-util {
        font-size: 1.7vw
    }
}

@media screen and (max-width: 1450px) {
    .left-content-footer-title {
        font-size: 32px;
    }

    .left-content-footer-text {
        font-size: 18px;
    }

    .left-content {
        width: 90%;
        padding-left: 5px;
    }

    .left-content-util {
        padding-left: 5px;
    }

    .header-nav-tabs {
        padding-left: 5px;
    }
}

@media screen and (max-width: 660px) {

    .left-content {
        width: 100%;
    }

    .left-content-footer-title {
        font-size: 20px;
    }

    .left-content-footer-text {
        font-size: 16;
    }

    .left-content-footer {
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 600px) {
    .left-content-footer {
        flex-wrap: wrap;
        gap: 10px;
    }

    .left-content {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}