.right-content-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    height: 100dvw;
}

.right-column-login {
    width: 100%;
    z-index: 4;
    position: relative;
    display: flex;
    justify-content: end;
}

.platecontent {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
}

.right-content-first {
    min-height: 130dvh;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.right-content-second {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    margin-top: -400px;
    gap: 20px;
}

.right-content-third {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.right-content-four {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    margin-top: -400px;
    gap: 20px;
}

.plate-group-main,
.plate-group-support {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 20px;
}

@media screen and (max-width: 1450px) {
    .right-content-four {
        display: none;
    }
}

@media screen and (max-width: 1250px) {
    .right-content-third {
        display: none;
    }
    .plate-group-main {
        justify-content: center;
    }
}

@media screen and (max-width: 1050px) {
    .right-content-second {
        display: none;
    }
}

@media screen and (max-width: 900px) {
    .right-content-wrapper {
        width: auto;
    }
}

@media screen and (max-width: 660px) {
    .left-content-wrapper {
        margin-top: 25%;
        width: auto;
    }
}