.right-content-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: -200px;
}
.keen-slider {
    max-width: 180px;
    min-width: 180px;
}
.right-column-login {
    width: 100%;
    z-index: 4;
    position: relative;
    display: flex;
    justify-content: end;
}

.platecontent {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
}

.right-content-first {
    display: flex;
    flex-direction: column;
}

.right-content-second {
    display: flex;
    flex-direction: column;
}

.right-content-third {
    display: flex;
    flex-direction: column;
}

.right-content-four {
    display: flex;
    flex-direction: column;
}

.plate-group-main,
.plate-group-support {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 20px;
}
.plate-group-mainMobile{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 170px;
    padding-left: 10px;
}

@media screen and (max-width: 1450px) {
    .right-content-four, .keen-slider .right-content-four {
        display: none !important;
    }
}

@media screen and (max-width: 1250px) {
    .right-content-third, .keen-slider .right-content-third  {
        display: none !important;
    }
    .plate-group-main {
        justify-content: center;
    }
}

@media screen and (max-width: 1050px) {
    .right-content-second, .keen-slider .right-content-second {
        display: none !important;
    }
}

@media screen and (max-width: 900px) {
    .right-content-wrapper {
        width: auto;
    }
}

@media screen and (max-width: 660px) {
    .left-content-wrapper {
        margin-top: 25%;
        width: auto;
    }
}
@media screen and (max-width: 450px) {
    .keen-slider {
        max-width: 100%;
        min-width: 180px;
    }
    .right-content-wrapper {
        width: 100%;
    }
}
