.header-nav-logo {
    font-size: 32px;
    display: flex;
}

.header-nav-tabs {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 40px;
}

.burger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    height: 30px;
    width: 40px;
    transition: 0.2s;
}

.burger>div {
    border-radius: 30px;
    width: 40px;
    height: 3px;
    background-color: white;
}

.burger:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.burger-modal {
    position: relative;
    top: 0%;
    left: 0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 0px;
    list-style: none;
    background-color: var(--app-background);
    width: 100dvw;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
    padding-bottom: 25px;
}

.burger-modal>li {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: var(--app-background);
    font-size: 21px;
    transition: 0.2s;
    padding: 15px;
    text-align: center;
}

.burger-modal>li:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.modal-bg {
    z-index: 1000;
    left: 0;
    top: -100%;
    position: absolute;
    width: 100dvw;
    height: 100dvh;
}
@media screen and (min-width: 1950px) {
    .header-nav-logo {
        font-size: 2.5vw;
    }
    .header-nav-tabs {
        font-size: 1.5vw;
    }
}
@media screen and (max-width: 1450px) {
    .header-nav-tabs {
        gap: 10%;
    }
}

@media screen and (max-width: 670px) {
    .header-nav-tabs {
        margin-top: 8px;
        justify-content: space-between;
    }

    .header-nav-tabs li:not(.burger, .header-nav-logo) {
        display: none;
    }

    .burger {
        display: flex;
    }
    .header-nav-tabs{
        flex-direction: row-reverse;
    }
    .header-nav-tabs {
        position: absolute;
        top: 0%;
        height: 100px;
        width: 50%;
        background-color: var(--app-background);
        z-index: 5;
    }
}

@media screen and (max-width: 420px) {
    .header-nav-tabs {
        padding-right: 10px;
        gap: 5px;
    }
    .header-nav-logo{
        font-size: 24px;
    }
}
@media screen and (max-width: 350px) {
    .header-nav-tabs {
        width: 58%;

    }
}