:root {
  --light-dark: #2A2936;
  --light-blue: #4194F4;
  --yellow: #F4B840;
  --purple: #6E1FED;
  --green: #5CC87B;
  --app-background: #1A171E;
  background-color: #2F2E3E;
  color: white;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.left-column-content {
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
}

.app-mainfraim {
  margin: 0 auto;
  padding: 50px;
  border-radius: 20px;
  width: 100dvw;
  height: calc(100dvh - 80px);
  display: flex;
  justify-content: space-between;
  background-color: var(--app-background);
}

body {
  overflow: hidden;
}



@media screen and (max-width: 1130px) {
  .app-mainfraim {
    flex-direction: column;
    justify-content: space-between;
    width: calc(100dvw - 50px);
  }

  .app-mainfraim {
    justify-content: start;
    flex-direction: row;
    gap: 30px;
  }

  .left-column-content {
    max-width: 60%;
  }

  .right-column-content {
    min-width: 35%;
  }
}

@media screen and (max-width: 900px) {
  .left-column-content {
    width: 70dvw;
  }

  .app-mainfraim {
    justify-content: start;
    flex-direction: row;
    gap: 80px;
  }

  .right-column-content {
    max-width: 25dvw;
  }
}

@media screen and (max-width: 820px) {
  .app-mainfraim {
    gap: 40px;
  }

  .right-column-content {
    width: 30dvw;
  }

  .left-column-content {
    min-width: 70%;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
  }
}

@media screen and (max-width: 650px) {
  body {
    padding: 0;
    margin: 0;
  }

  .left-column-content {
    min-width: 70%;
  }

  .app-mainfraim {
    justify-content: space-between;
    gap: 0;
  }

  .app-mainfraim {
    gap: 70px;
    height: calc(100dvh - 60px);
  }
}

@media screen and (max-width: 650px) {

  .left-column-content {
    min-width: 190px;
  }
}
@media screen and (max-width:450px) {
  .right-column-content {
    display: none;
  }
  .left-column-content {
    width: 100%;
    min-width: 100%;
  }
  .app-mainfraim {    
    display: flex;
  }
}

@media screen and (max-width:400px) {
  .app-mainfraim {
  }
}